.artworkPage{
    padding-top: 10%;
    width: 100%;
    background: linear-gradient(180deg, #BCD1FF 0%,
    #9B80FF 27.08%, #8BAFFF 50%,
     #9B80FF 66.81%, rgba(253, 174, 255, 0) 50%, 
     #FDAEFF 100%);
     padding-bottom: 10%;
}
.artworkPage > .ButtonBun{
    z-index: 0.1;
    margin-top: 0px;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    display: flex;
}
.artworkPage > #title{
    text-align: center;
}
#galleryImg{
    border: solid white 5px;
    border-radius: 20px;
    width: 20vw;
    height: 20vw;

    transition: all .2s ease-in-out;
}
#galleryImg:hover{
    transform: scale(0.8);
}
#exploreButton{
    margin-top: 4%;
    display: flex;
}
#experienceArt{
    text-align: center;
    margin-top: 100px;
}
#experienceArt > #paragraph > span {
    text-decoration: underline;
}

.wholeCD{
    margin-top: 300px;
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    
}
.wholeCD > .characterDesignDesc > p{
    text-align: left;
}
.characterDesignDesc{
    margin-top: 20%;
    float: left
}

.OCGallery{
   float: right;
   margin-right: 15%;
}
#animations{
    margin-top: 500px;
}
#animations > #title{
    text-align: center;
}
#animationVid{
    display: flex;
}

#animationVid > video{
   margin: auto;
   background-color: white;
   border-top: solid white 10px;
   border-bottom: solid white 10px;
   border-radius: 30px;
   object-fit: cover;
}
#fight{
    display: flex;
}
.fight{
    margin: auto;
}
@media only screen and (max-width: 991px){

    .characterDesignDesc{

        z-index: 1;
        padding: 10px;
        text-align: center;
        border-radius: 15px;
        border: solid white;
        
        background: rgba(155, 128, 255, 0.72);
    
    }
 
    .OCGallery{
        overflow: hidden;
        height: 50%;
        position: absolute;
        z-index: 0;
    }
  
}
.characterDesignDesc > #link{
    margin-top: 50px;
}
#logos{
    text-align: center;
}
.logoIcons{
    display: flex;
}
.logoIcons > img{
    margin: auto;
}
@media only screen and  (min-width: 768px) and (max-width: 991px){
    .artworkPage > .ButtonBun{
        display: none;
    }
}
@media only screen and (max-width: 767px){
    .artworkPage > .ButtonBun{
        display: none;
    }
    #galleryImg{
        width: 30vw;
        height: 30vw;
    }
    .logoIcons{
        display: block;
    }
    .artworkPage{
        padding-bottom: 250%;
    }
}