
.bigDesktop{
    object-fit: cover;
    border: solid #4A5367 8px;
    border-radius: 59px;
    width: 60%;
    background-color: #4A5367
}
.smallDesktop{
    object-fit: cover;
    border: solid #4A5367 8px;
    border-radius: 59px;
    width: 50%;
    background-color: #4A5367
}
.smallPhone{
    object-fit: cover;
    border: solid #4A5367 8px;
    border-radius: 59px;
    width: 20%;
    background-color: #4A5367
}
.phone{
    object-fit: cover;
    border: solid #4A5367 8px;
    border-radius: 59px;
    width: 30%;
    background-color: #4A5367

}

@media only screen and  (min-width: 768px) and (max-width: 991px){
    .bigDesktop{
        width: 80%;
    }
    .smallDesktop{
        width: 70%;
    }
    .smallPhone{
        width: 40%;
    }
}
@media only screen and (max-width: 767px){
    .bigDesktop{
        width: 100%;
    }
    .smallDesktop{
        width: 100%;
    }
    .smallPhone{
        width: 60%;
    }
}