#contactFormInfo{
   
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15%;
    height: 100vh;
    text-align: center;

}
.getInTouch{
    z-index: 0;
    padding: 100px;

}
.getInTouch > #title{
    border-bottom: dotted white;
    
}
#iconsBottom{
    margin-top: 20px;
}
#iconsBottom > img{
    transition: all .2s ease-in-out;
}
#iconsBottom > img:hover{
    transform: scale(1.2);
}
#buttonSubmit{
    box-sizing: border-box;
    color: white;
    background: #FDAEFF;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    font-size: 3vh;
    padding: 10px;
  }
  #buttonSubmit:hover{
    background: #8BAFFF;
  }

.bunnyHop{
    
    z-index: 1;
    display: block;
    position: absolute;
    width: 20%;
    margin-top: 50vh;
    margin-left: 5vh;
    transform: matrix(-1, 0, 0, 1, 0, 0);
   
}
#bottomBunny{
    display: none;
}






@media (min-width: 768px) and (max-width: 991px) {
    .getInTouch{
       height: auto;
      
    }
    .bunnyHop{
        margin-top: 35vh;
        transform: none;
        margin-left: 70vw;
    }
}
@media (max-width: 767px){
    #contactFormInfo{
        display: flex;
    }
    #bottomBunny{
        display: block;
        width: 30%;
        margin: auto;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .getInTouch > #paragraph{
        
        margin-bottom: 30px;
    }
    .getInTouch{
        height: 70%;
        padding: 6px;
    }
    .bunnyHop{
        display: none;
    }


}