.DropDownNav{
    position: fixed;
    z-index: 2;
    margin-left: 3vw;
    margin-top: 3vw;
    margin-right: auto;
}
.dropDownButton{
    background-color: rgba(255, 255, 255,0.75);
    border: none;
    border-radius: 10px;
}

.dropDown-content{
    display: none; 
}
#navbuttonDrop{
    text-align: center;
    font-size: 3vh;
    float: none;
    display: block;
    background-color:none;
    clear: left;
    color: #9B80FF;
}
#navbuttonDrop:hover{
    color: #FDAEFF;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
  
}
.dropDownButton:hover .dropDown-content{
    display: block;
    
}
#menuicon{
    background-color: rgba(255, 255, 255,0.75);
    border-radius: 10px;
    width: 10vw;
    float: left;
  
}